USE [PRD]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RecordsNA]
	@IdAl INT = NULL
AS
SET NOCOUNT ON;
BEGIN
	BEGIN TRY
		IF @IdAl IS NOT NULL
			IF EXISTS(SELECT IdAl
							FROM [dbo].[Alumnos]
								WHERE IdAl = @IdAl)
				BEGIN
					SELECT [dbo].[Notas_Alumnos].lapso, [dbo].[Notas_Alumnos].codmateria, [dbo].[Notas_Alumnos].calificacion,
							[dbo].[Notas_Alumnos].seccion, [dbo].[Notas_Alumnos].equivalencia, [dbo].[Notas_Alumnos].cualitativa,
							[dbo].[Materias].NombreMateria, [dbo].[Materias].Semestre, [dbo].[Materias].HT, [dbo].[Materias].HP, [dbo].[Materias].HL,
							[dbo].[Materias].TH, [dbo].[Materias].UC,
							[dbo].[Electivas].Nombre_Opcion
								 FROM [dbo].[Notas_Alumnos] WITH (NOLOCK)
								 INNER JOIN [dbo].[Materias]  ON [dbo].[Notas_Alumnos].codmateria = [dbo].[Materias].Codmateria AND [dbo].[Notas_Alumnos].icc = [dbo].[Materias].Icc
								 LEFT OUTER JOIN [dbo].[Electivas]  ON [dbo].[Notas_Alumnos].codmateria = [dbo].[Electivas].Id_Electiva AND [dbo].[Notas_Alumnos].icc = [dbo].[Electivas].Icc AND [dbo].[Notas_Alumnos].Id_Opcion = [dbo].[Electivas].Id_Opcion
									WHERE [dbo].[Notas_Alumnos].IdAl = @IdAl
										ORDER BY [dbo].[Notas_Alumnos].lapso ASC
					END	
	END TRY
		BEGIN CATCH
			SELECT ERROR_MESSAGE() AS ERROR,
				ERROR_NUMBER() AS ERROR_NRO
		END CATCH;
END