USE [PRD]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RecordsDA]
	@Cedula VARCHAR(15) = NULL,
	@UCC INT = 0
AS
SET NOCOUNT ON;
BEGIN
	BEGIN TRY
			BEGIN
					SELECT [dbo].[Alumnos].IdAl, [dbo].[Alumnos].Cedula, [dbo].[Alumnos].Fullnombre, ISNULL(CAST([dbo].[Alumnos].Foto AS VARBINARY(MAX)), 0) AS Foto,
							[dbo].[Alumnos].IdEstdo, [dbo].[Alumnos].NrBachiller, [dbo].[Alumnos].IRABachiller, [dbo].[Alumnos].Sexo,
							[dbo].[Alumnos_Carreras].IdStAca, [dbo].[Alumnos_Carreras].LapIng, [dbo].[Alumnos_Carreras].LapAnt, [dbo].[Alumnos_Carreras].LapCur, 
							[dbo].[Alumnos_Carreras].Iraa, ISNULL([dbo].[Alumnos_Carreras].UCC, 0) AS UCC, ISNULL([dbo].[Alumnos_Carreras].UCA, 0) AS UCA, [dbo].[Alumnos_Carreras].IdCar, [dbo].[Alumnos_Carreras].RecIndc,
							[dbo].[Estados_Academicos].EstAca, [dbo].[Carreras].codcarrera, [dbo].[Carreras].area, [dbo].[Carreras].descripciontitulo
								 FROM [dbo].[Alumnos] WITH (NOLOCK)
								 INNER JOIN [dbo].[Alumnos_Carreras]  ON [dbo].[Alumnos].IdAl = [dbo].[Alumnos_Carreras].IdAl
								 LEFT OUTER JOIN [dbo].[Estados_Academicos]  ON [dbo].[Alumnos_Carreras].IdStAca = [dbo].[Estados_Academicos].IdStAca
								 LEFT OUTER JOIN [dbo].[Carreras]  ON [dbo].[Alumnos_Carreras].IdCar = [dbo].[Carreras].codcarrera
									WHERE [dbo].[Alumnos].Cedula = @Cedula
			END	
	END TRY
		BEGIN CATCH
			SELECT ERROR_MESSAGE() AS ERROR,
				ERROR_NUMBER() AS ERROR_NRO
		END CATCH;
END