@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Customize Error Page";
}
    <h1 class="text-center error">404</h1>
    <h3 class="text-center">
        Lo sentimos, se produjo un error al procesar su solicitud. @Html.ActionLink("Ir al inicio", "Index", "DatosAcademicos")
    </h3>